<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div
        class="d-flex w-100 flex-column flex-lg-row align-items-center gap-3"
      >
        <div class="flex-fill text-center">
          <a class="navbar-brand m-0 p-0 d-inline" routerLink="/">
            SneakerFever
          </a>
        </div>

        <div class="flex-fill text-center">
          <a class="nav-link m-0 p-0 d-inline" routerLink="/products">
            Productos
          </a>
        </div>

        <div class="flex-fill text-center">
          <a class="nav-link m-0 p-0 d-inline" routerLink="/carrito">
            Carrito
          </a>
        </div>

        @if (user) {
          <div class="flex-fill text-center dropdown">
            <a
              class="nav-link m-0 p-0 d-inline dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Bienvenido {{ user.displayName }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <button
                  type="button"
                  class="dropdown-item"
                  (click)="onLogout()"
                >
                  Cerrar sesión
                </button>
              </li>
            </ul>
          </div>
        } @else {
          <div class="flex-fill text-center dropdown">
            <a
              class="nav-link m-0 p-0 d-inline dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Autenticación
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="dropdown-item" routerLink="/login">
                  Iniciar sesión
                </a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/register">
                  Registrarse
                </a>
              </li>
            </ul>
          </div>
        }
      </div>
    </div>
  </div>
</nav>
