<div class="card h-100 d-flex flex-column">
  @if (alert) {
    <div class="card-alert">
      <div
        class="alert"
        role="alert"
        [class.alert-success]="alert.type === 'success'"
        [class.alert-danger]="alert.type === 'danger'"
      >
        {{ alert.text }}
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="closeAlert()"
        ></button>
      </div>
    </div>
  }

  <img [src]="product.imagesUrl?.[0]" class="card-img-top" alt="..." />

  <div class="card-body flex-grow-1">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text">{{ product.description }}</p>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ product.category.name }}</li>
    <li class="list-group-item">{{ product.price | currency }}</li>
  </ul>

  <div class="card-actions">
    <a
      class="btn btn-outline-dark w-100"
      [routerLink]="['/products', product._id]"
    >
      Ver más
    </a>

    @if (user) {
      @if (outOfStock) {
        <button
          type="button"
          class="btn btn-secondary w-100 mt-2"
          disabled
        >
          No hay stock
        </button>
      } @else {
        <button
          type="button"
          class="btn btn-dark w-100 mt-2"
          (click)="onAddToCart()"
          [disabled]="adding"
        >
          {{ adding ? 'Añadiendo…' : 'Añadir al carrito' }}
        </button>
      }
    }
  </div>
</div>
